
.mainbox{
    border: 2px solid blue;
    min-height: 300px;
    width: 29%;
    margin: 2px;
    
}
.innerbox{
    border: 2px solid green;
    min-width:80%;
   min-height:200px;
margin: 8px;
}

#visva{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    
}

